<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="swaglabsurl" value="https://www.saucedemo.com/"/>
    <add key="fburl" value="https://www.facebook.com/"/>
    <add key="susieusername" value="standard_user"/>
    <add key="susiepassword" value="secret_sauce"/>
  </appSettings>
</configuration>